body {
    background: #ecf7f3 url("https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/45degreee_fabric.png") repeat;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td.left {
    align: right;
}