<!DOCTYPE html>
<html lang="En">
<head>
    <meta charset="UTF-8">
    <title>Movie Catalogue</title>
</head>
<body>
    <h1>Movie Catalogue</h1>
    <ul>
    <!--ruby code to list movies starts here-->
    <!--process each movie item and return movie title as list item-->
    <% @movies.each do |movie| %>
        <li><%= movie.title %></li>
        <% end %>
    <!--end of ruby code-->
    </ul>
    <a href="/movies/new">Add new movie</a>
</body>
</html>