<!DOCTYPE html>
<html lang="En">
<head>
    <meta charset="UTF-8">
    <title>Movie Catalogue</title>
<link rel="stylesheet" type="text/css" href="../stylesheets.css">
</head>
<body>
    <h1>Movie Catalogue</h1>
    <ul>
        <li>movie 1</li>
        <li>movie 2</li>
        <li>movie 3</li>
    </ul>
    <a href="/movies/new">Add new movie</a>
</body>
</html>
