<!DOCTYPE html>
<html lang="En">
<head>
    <meta charset="UTF-8">
    <title>Movie Catalogue</title>
</head>
<body>
    <h1>Movie Catalogue</h1>
    <ul>
    <!--ruby code to list movies starts here-->
    <!--process each movie item and return movie title as list item-->
    <% @movies.each do |movie| %>
        <li>
        <!--add link to list item with ref to movie id-->
        <!--movie title will be displayed as link text-->
        <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
        </li>
        <% end %>
    <!--end of ruby code-->
    </ul>
    <a href="/movies/new">Add new movie</a>
</body>
</html>