<!DOCTYPE html>
<html lang="En">
<head>
<meta charset="UTF-8">
    <title>Movie Catalogue - Add New</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Add new movie</h1>
<!--form to add new movies-->
<form>
<table>
<tr>
<td class="left"><label for="title">Title:</label></td>
<td><input type="text" name="title"></td>
</tr>
<tr>
<td class="left"><label for="Director">Director:</label></td>
<td><input type="text" name="direcor"></td>
</tr>
<tr>
<td class="left"><label for="year">Year:</label></td>
<td><input type=text name="year"></td>
</tr>
<tr>
<td class="left"><input type="submit"></td>
</tr>
</table>
</form>
<!--end of submission form-->
<a href="/movies">Back to main page.</a>
</body>
</html>